
<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <a href="/datatable" class="btn btn-primary m-2 ml-0">
                Datatable
            </a>
        </br>
            <a href="/files/marvel_characters.json" download class="btn btn-secondary m-2 ml-0">
                Izvezi cijeli dataset u JSON
            </a>
        </br>
            <a href="/files/marvel_characters.csv" download class="btn btn-secondary m-2 ml-0">
                Izvezi cijeli dataset u CSV
            </a>
        </div>
    </main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->